
:root{
    --green: #2d7903;
}

body{
    background-color: #f7f5f1;
}

h1{
    font-size: 2.5rem;
    font-weight: 400;
}

/* main */

    /* ? div p-hero */

.p-hero{
    margin-top: 170px;
    margin-bottom: 30px;
    text-align: center;
}

.switch{
    border: 2px solid black;
    display: inline-block;
    border-radius: 40px;
    padding: 9px 3px;
    font-weight: 500;
    margin-top: 3px;
    background-color: #fff;
}

.switch-item{
    border-radius: 40px;
    padding: 7px 16px;
    cursor: pointer;
}

    /* ? section plans */

.p-plans{
    margin-bottom: 100px;
}

.plans-col-header{
    margin-top: 50px;
}

.btn-big{
    min-width: 320px;
}

.plans-col-main .classic-link{
    display: inline-block;
    margin: 6px 0px;
}

.p-plans .plans-main{
    row-gap: 40px;
}

    /* ? section funtions */

table{
    background-color: #fff;
    display: block;
    width: 1200px;
    height: 700px;
    overflow-y: auto;
    border-spacing: 0;
    margin-bottom: 100px;
}

thead{
    width: 1200px;
}

tr th{
    text-align: left;
    min-width: 197px;
}

th, td{
    border: 1px solid gray;
}

th a{
    text-decoration: underline;
    font-size: 0.8rem;
    margin-bottom: 0;
    padding-bottom: 0;
    color: rgb(82, 81, 81);
}

th .plans-col-main{
    margin-bottom: 15px;
}

tbody{
    height: 700px;
    overflow: auto;
}

tbody th{
    padding: 10px;
}

tbody td{
    font-size: 0.9rem;
    padding: 20px;
    align-items: center;
}

tbody td > div.flex{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

tbody tr td:first-child div.flex{
    justify-content: space-between;
    text-align: left;
}

tbody tr td:first-child div.flex p{
    max-width: 90px;
}

tbody div.flex i.fa-check{
    color: var(--btn-blue);
}

tbody, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

thead, thead tr, thead th{
    position: sticky;
    top: 0;
    background-color: lightgrey;
}

tr td:first-child, tr td:nth-child(2), tr th:first-child, tr th:nth-child(2){
    background-color: #fff;
}

tr td:nth-child(3), tr th:nth-child(3){
    background-color: #faf9f7;
}

tr td:nth-child(4), tr th:nth-child(4){
    background-color: #f7f5f1;
}

tr td:nth-child(5), tr th:nth-child(5){
    background-color: #f1eee8;
}

tr td:nth-child(6), tr th:nth-child(6){
    background-color: #eee9e2;
}

/* utils */

.bg-black{
    color: white;
    background-color: black;
}

.promo{
    display: inline-block;
    background-color: var(--green);
    color: white;
    font-size: 0.9rem;
    padding: 2px 5px;
}

.text-center{
    text-align: center;
}

.margin-bot-50{
    margin-bottom: 50px;
}

.text-underline{
    text-decoration: underline;
}

.buy-button{
    padding: 9px 15px;
    min-width: 130px;
    display: block;
}