*{
    margin: 0;
    padding:  0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

:root{
    --bg-lightblue: #b4d0e7;
    --btn-blue: #0161ff;
    --bg-designit: #a2d39b;
    --border-designit: #d1e9cd;
    --bg-asu: #61082b;
    --border-asu: #6e334b;
    --bg-uf: #0093ce;
    --bg-topps: #ff1c1c;
    --bg-wbr: #d5001f;
    --bg-hearst: #b4d0e7;
    --bg-lonely: #0d2481;
    --bg-clear: #ffd830;
}

a{
    text-decoration: none;
    color: currentColor;
}

h1{
    font-size: 4.5rem;
    font-weight: 800;
}

h2{
    font-size: 2.2rem;
}

h3{
    font-size: 1.5rem;
}

h5{
    font-size: 0.9rem;
}

hr{
    color: gray;
}

address{
    font-style: normal;
}

/* chat */

.chat{
    position: fixed;
    bottom: 15px;
    right: 15px;
    height: 500px;
    width: 300px;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.4), 0 3px 20px 0 rgba(0, 0, 0, 0.4);
    background-color: #fff;
    border-radius: 10px;
    z-index: 1;
}

.chat-header{
    padding: 15px;
    color: white;
    background-color: var(--btn-blue);
    justify-content: space-between;
}

.chat-hero{
    margin-top: 20px;
    margin-left: 13px;
}

.chat-hero i{
    font-size: 23px;
    color: white;
    background-color: var(--btn-blue);
    border-radius: 50%;
    padding: 10px;
    margin-right: 10px;
}

.chat-main{
    color: black;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 90px;
    right: 20px;
    left: 15px;
    border-top: 1px solid black;
    padding-top: 15px;
}

.chat-main > input{
    font-size: 1.1rem;
    border: none;
    padding: 5px;
}

.chat-main > span{
    color: var(--btn-blue);
    cursor: pointer;
}

.chat-footer{
    color: white;
    position: absolute;
    bottom: 20px;
    left: 15px;
    background-color: var(--btn-blue);
    padding: 7px 8px;
    border-radius: 5px;
    cursor: pointer;
}

/* header */

header{
    background-color: white;
    box-shadow: 0 1px 5px 0 gray;
    height: 60px;
    padding: 10px 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.navbar{
    height: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.ul-left, .ul-right{
    align-items: center;
}

header ul{
    color: gray;
}

.ul-left > ul{
    margin-left: 30px;
}

img{
    max-width: 100%;
}

header ul{
    list-style: none;
    display: flex;
}

.ul-left > ul > li, .ul-right > ul > li{
    height: 60px;
    line-height: 60px; 
    padding: 0px 15px;
}

.ul-right > ul > li:hover{
    border-bottom: 1px solid black;
    color: black;
    transition: ease-in-out .2s;
}

.ul-left > ul > li:hover{
    background-color: lightgray;
}

.ul-left > ul > li:hover div.show-menu{
    display: flex;
    color: gray;
}

.show-menu{
    position: absolute;
    background-color: lightgray;
    padding: 15px 20px;
    line-height: 30px;
    display: none;
    margin-left: -15px;
    animation: late-popup .3s;
    border: 1px solid black;
}

@keyframes late-popup {
    0%{
        scale: 95%;
    }
    
    100%{
        scale: 100%;
    }
}

.show-menu-ul{
    display: list-item;
}

#why-menu{
    width: 400px;
    justify-content: space-between;
}

.show-menu .fa-ul{
    display: list-item;
}

/* main */

.hero{
    margin-top: 60px;
    padding-top: 80px;
    background-color: var(--bg-lightblue);
}

.hero-main, .hero h1{
    transform: translateY(20%);
}

.hero-main-text{
    flex-basis: 60%;
}

.hero-main-text a i{
    position: absolute;
    bottom: 25%;
}


    /* ? section plans */


.plans{
    margin: 250px 0;
}

.plans-header{
    margin-bottom: 40px;
}

.checkbox{
    margin-top: 50px;
}

.bill, .bill-checked{
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 1px solid gray;
    border-radius: 50%;
}

.bill-checked{
    border: 5px solid var(--btn-blue);
}

.plans-main{
    column-gap: 40px;
}

.plans-col{
    border: 1px solid gray;
    width: calc(100% / 3);
}

.plans-col-header{
    padding: 10px 0px;
    text-align: center;
}

.plans-col-main{
    padding: 0 25px;
    margin-bottom: 50px;
    line-height: 40px;
}

.phrase{
    line-height: 20px;
    margin-bottom: 15px;
}

.plans ul{
    padding-left: 20px;
    margin-left: 0;
}

.plans ul li{
    margin-bottom: 18px;
}

.checkblue i{
    color: var(--btn-blue);
}

.plans-footer{
    border: 1px solid gray;
}

.plans-footer-text{
    padding: 25px;
}

#anchor{
    padding-top: 70px;
}


    /* ? section info */

.info{
    margin-bottom: 100px;
}

        /* ! section partner */

.partner-img{
    width: 55%;
}

.partner-text{
    width: 45%;
    padding: 40px;
}

        /* ! section operations */

.operations{
    margin: 100px 0;
}

.operations-main{
    flex-wrap: wrap;
    margin: 0 -30px;
}

.oper-col{
    padding: 30px;
    width: calc(100% / 3);
}

.oper-col > h3{
    margin-bottom: 25px;
}

        /* ! section media */

.media-col{
    width: calc(100vw / 3);
    height: calc(100vw / 3);
}

.media-box-row{
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.media-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    border: 10px solid transparent;
}

.media-box:hover{
    border: 10px solid rgba(255, 255, 255, 0.4);
    transition: ease-in-out 0.3s;
}

.media-box > img{
    width: 50%;
    filter: invert(1);
}

.media-col > img{
    height: 15%;
}

        /* ! section apply */

.apply{
    height: 300px;
    background-color: var(--bg-lightblue);
}

.apply-container{
    height: 300px;
    padding-top: 100px;
}

.apply-col{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

        /* ! section FAQ */

.FAQ{
    margin: 100px 0;
    height: 400px;
}

.FAQ-item{
    padding: 35px 0px;
    padding-right: 40px;
    cursor: pointer;
}

.FAQ-title{
    display: flex;
    justify-content: space-between;
}

.FAQ-hover{
    margin: 20px 0;
    display: none;
}

.FAQ-item:hover .FAQ-hover{
    display: block;
    animation: popup 1s;
}

@keyframes popup {
    0%{
        transform: scaleX(97%) scaleY(80%);
    }
    100%{
        transform: scaleX(100%) scaleY(100%);
    }
}

.FAQ-item:hover i{
    transform: rotate(180deg);
    transition: ease-in-out .5s;
    color: var(--btn-blue);
}

.FAQ-item:hover strong{
    transition: ease-in-out .5s;
    color: var(--btn-blue);
}

/* footer */

footer{
    color: white;
    background-color: #000;
    height: 400px;
    padding: 70px 0;
}

.footer-col{
    height: 200px;
    width: calc(100% / 5);
}

footer ul{
    list-style: none;
}

footer h3{
    font-size: 1.3rem;
    margin-bottom: 20px;
}

footer ul li{
    margin-bottom: 10px;
}

footer ul li a{
    font-size: 0.8rem;
    font-weight: 300;
}

footer ul li a:hover{
    color: rgb(177, 177, 177);
}

.lang{
    color: gray;
    font-size: 0.7rem;
}

/* utils */

.debug{
    border: 2px dashed black;
}

.debug-w{
    border: 2px dashed white;
}

.container-big{
    max-width: 1200px;
    margin: 0 auto;
}

.container-small{
    max-width: 1000px;
    margin: 0 auto;
}

.flex{
    display: flex;
}


.line{
    background-color: gray;
    height: 1px;
    margin: 40px 0;
    width: 90px;
}

.btn{
    background-color: var(--btn-blue);
    border-color: transparent;
    color: white;
    cursor: pointer;
}

.btn:active{
    border: 3px solid white;
}

.btn:hover{
    opacity: 75%;
    transition: ease-in-out 0.2s;
}

.hero .btn:active{
    border: 3px solid var(--bg-lightblue);
}

.btn-small{
    padding: 2px 10px;
}

.btn-medium-white{
    background-color: white;
    border: 1px solid black;
    color: #000;
    padding: 10px 10px;
    font-size: 1rem;
    cursor: pointer;
}

.btn-medium-white:active{
    padding: 8px 8px;
}

.btn-medium-white:hover{
    background-color: #ece8e8;
    transition: ease-in-out 0.2s;
}

.apply .btn-medium-white:active{
    padding: 8px 35px;
}

.btn-big{
    padding: 10px 20px;
    min-width: 250px;
}

.v-margin-30{
    margin: 30px 0;
}

.p-relative{
    position: relative;
}

.cursor{
    cursor: pointer;
}

.v-align-m{
    vertical-align: middle;
}

.margin-left-50{
    margin-left: 50px;
}

.margin-left-30{
    margin-left: 30px;
}

.margin-top-50{
    margin-top: 50px;
}

.margin-top-30{
    margin-top: 30px;
}

.margin-bot-30{
    margin-bottom: 30px;
}


.margin-bot-20{
    margin-bottom: 20px;
}

.padding-35{
    padding: 35px;
}

.padding-10-40{
    padding: 10px 40px;
}

.classic-link{
    color: blue;
    text-decoration: underline;
}

.bg-designit{
    background-color: var(--bg-designit);
}

.bg-asu{
    background-color: var(--bg-asu);
}

.bg-uf{
    background-color: var(--bg-uf);
}

.bg-topps{
    background-color: var(--bg-topps);
}

.bg-wbr{
    background-color: var(--bg-wbr);
}

.bg-hearst{
    background-color: var(--bg-hearst);
}

.bg-lonely{
    background-color: var(--bg-lonely);
}

.bg-clear{
    background-color: var(--bg-clear);
}

.bg-lightgray{
    background-color: #f5f5f5;
}

.color-purpleblue{
    color: #6c1c3a;
}

.no-border{
    border: none;
}